# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

# MacOS
.DS_Store

# IDE
.vscode/
.idea/

# NLTK data (可选，看大小)
nltk_data/
